@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  background: wheat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.main {
  width: 1440px;
  height: 800px;
  background: #ecf2f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1440px) {
  .main {
    height: 100%;
  }
}

.card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: #9eafc2 5px 10px 20px;
  width: 800px;
}
@media (max-width: 375px) {
  .card {
    flex-flow: column;
    width: 320px;
    box-shadow: none;
  }
}
.card .draw {
  width: 40%;
  border-radius: 10px 0 0 10px;
}
@media (max-width: 375px) {
  .card .draw {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}
.card .card_body {
  display: flex;
  flex-flow: column;
  padding: 2em;
  padding-bottom: 1em;
}
@media (max-width: 375px) {
  .card .card_body {
    padding: 2.5em;
    padding-bottom: 1em;
  }
}
.card .card_body h2 {
  margin: 0;
  font-weight: 700;
}
@media (max-width: 375px) {
  .card .card_body h2 {
    font-size: 1em;
  }
}
.card .card_body .card_text {
  margin: 0;
  padding: 1em 0;
  color: #48556a;
}
@media (max-width: 375px) {
  .card .card_body .card_text {
    font-size: 0.9em;
  }
}
.card .card_footer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
}
@media (max-width: 375px) {
  .card .card_footer {
    font-size: 0.75em;
  }
}
.card .card_footer .who {
  display: flex;
}
.card .card_footer .who img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1em;
}
.card .card_footer .who .card_footer_time {
  color: #6d7f97;
}
.card .card_footer .share {
  border: none;
  border-radius: 50%;
  background: #ecf2f8;
  width: 40px;
  height: 40px;
}
.card .card_footer .share img {
  width: 20px;
  height: 20px;
}
.card .card_footer .share:hover {
  background: #6d7f97;
}
.card .card_footer .share:hover img {
  filter: brightness(250%);
}

.tip {
  position: relative;
}

.tiptext {
  position: absolute;
  visibility: hidden;
  background-color: #48556a;
  color: #9eafc2;
  border-radius: 10px;
  bottom: 150%;
  right: -235%;
  padding: 1em 1.5em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  box-shadow: #9eafc2 2px 5px 10px;
}
.tiptext img {
  margin-left: 1em;
  cursor: pointer;
}
@media (max-width: 375px) {
  .tiptext {
    bottom: -37px;
    right: -40px;
    width: 260px;
    height: 45px;
    border-radius: 0 0 10px 10px;
    box-shadow: none;
  }
}

.tip .tiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #48556a transparent transparent transparent;
}
@media (max-width: 375px) {
  .tip .tiptext::after {
    border: none;
  }
}

.tip:focus .tiptext {
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
